@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --color-brand-orange: oklch(0.701 0.15316 57.786);
  --color-brand-blue: oklch(0.323 0.08142 254.549);

  --font-sans: 'Lexend', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.animation-reveal {
  opacity: 0;
  animation: reveal linear forwards;
  animation-timeline: view(60vh 0);
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}
